*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.container{
    min-width: 100vh;
    min-height: 100vh;
    background: linear-gradient(120deg,#153677,#4e085f);
    padding: 10px;
}
.todo-app
{
    width: 100%;
    max-width: 540px;;
    margin: 100px auto 20px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 15px;
}

.todo-app h2
{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 20px;
}
.todo-app h2 img
{
    width:30px;
    margin-left: 20px;

}

.row
{
    background: #edeef0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}
input
{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 10px;
}

button{

    background-color: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 16px 50px;
    border-radius: 20px;
    outline: none;
    border: none;
    
}

ul li
{
    list-style: none;
    padding: 10px 10px 10px 50px;
    font-size:17px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before
{
    content: '';
    position: absolute;
    background-image: url(images/unchecked.png);
    width: 17px;
    height: 18px;
    border-radius: 60%;
    background-size: cover;
    background-position: center;
    top:9px;
    left:8px;
}

ul li.checked
{
    text-decoration: line-through;
}

ul li.checked::before
{
    background-image: url(images/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    text-align: center;
}

ul li span:hover{
    background: #edeef0;
}